*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

                           /* ***** navbar Starts *******/

                           #navbar{
                            position: sticky;
                            top:0;
                            left: 0;
                            z-index: 100;
                            padding: .5rem 5rem;
                            box-shadow: 5px 5px 20px rgba(0,0,0,.5);
                            background: black !important;
                        }
                        #navbar img{
                            margin-left: -20px !important;
                            margin-bottom: -10px;
                            margin-top: -15px;
                        }
                        
                        
                        
                        #navbarSupportedContent a:hover{
                            color: rgb(255, 2, 2) !important;
                            border-bottom: 2px solid yellow;
                            font-size: 20px;
                            
                        }
                        #navbarSupportedContent button{
                        
                            background-color: #daad12;
                            width: 10rem;
                            padding: -10px 0px !important;
                        
                            border-radius: 20px;
                            font-size: 17px;
                            font-weight: 400;
                        }
                        
                        /****** navabar ends *******/

body{
    background:linear-gradient(to right,#ea1d6f,#eb466b 100%);
}    
label, input{
    display: block;
    font-size: 25px;
    margin: 10px 0px;

   
}    
#sign{
    margin: auto;
    margin-top: 8vh;
   
    width: 500px;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5));
    padding-top: 20px;
    padding-bottom: 30px;
   
   
}
h2,h3{
    text-align: center;
    color: white;
}
label{
    padding-left: 20px;
    font-weight: 550;
    color: white;
}
#sign input{
    align-items: center;
    width: 400px;
    padding: 5px 10px;
    margin-left: 50px;
    border-radius: 50px;
    
}
h2{
    font-weight: 600;
    font-size: 35px;
}




